# Client Site

A API deve ser capaz de:

1. Requisição para criar um arquivo txt;
2. Requisição para ler um arquivo txt;
3. Requisição para atualizar um arquivo txt;

## 1. Requisição para criar um arquivo txt;

In [1]:
import requests
import json
import pandas as pd
from dummy_data import films

In [2]:
url = "http://127.0.0.1:5000/create_file"
payload = {"file_name": "data1.csv"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

{
  "Mensagem": "Lista de Arquivos Criados",
  "Arquivos": [
    "data1.csv"
  ]
}

## 2. Requisição para ler um arquivo txt;

In [3]:
url = "http://127.0.0.1:5000/read_file"
payload = {"file_name": "data1.csv"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

{
  "Mensagem": "Leitura do Arquivo",
  "Data": []
}

## 3. Requisição para atualizar um arquivo

Neste exemplo o arquivo .csv criado e atualizado utilizando dados de filmes do [IMDB](https://www.imdb.com/interfaces/).

In [4]:
url = "http://127.0.0.1:5000/update_file"
payload = {"file_name": "data1.csv", "message": films, "mode": "w"}
post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

{
  "Mensagem": "Arquivo Atualizado",
  "Data": "Arquivo CSV prenchido"
}

In [5]:
data_file = pd.read_csv("files/data1.csv")
data_file.head()

               Name  Rating  Duration              Actor      Genre
0         Inception     8.8       148  Leonardo DiCaprio     Sci-Fi
1           In time     6.7       109  Justin Timberlake     Sci-Fi
2  The Intouchables     8.5       112            Omar Sy     Comedy
3       Source Code     7.5        93    Jake Gyllenhaal     Sci-Fi
4            Avatar     7.8       213        Zoe Saldana  Adventure

### 3.1 Adicionar um novo filme ao arquivo csv

In [ ]:
new_films = {
    "Name": ["The Matrix", "The Matrix Reloaded", "The Matrix Revolutions"], 
    "Rating": [8.7, 7.2, 6.7], 
    "Duration":[136, 138, 129], 
    "Actor": ["Keanu Reeves", "Keanu Reeves", "Keanu Reeves"], 
    "Genre": ["Action", "Action", "Action"]
    }

In [6]:
url = "http://127.0.0.1:5000/update_file"
payload = {"file_name": "data1.csv", "message": new_films, "mode": "a"}
post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

{
  "Mensagem": "Arquivo Atualizado",
  "Data": "Arquivo CSV atualizado"
}

In [7]:
data_file = pd.read_csv("files/data1.csv")
data_file

,Name,Rating,Duration,Actor,Genre
0,Inception,8.8,148,Leonardo DiCaprio,Sci-Fi
1,In time,6.7,109,Justin Timberlake,Sci-Fi
2,The Intouchables,8.5,112,Omar Sy,Comedy
3,Source Code,7.5,93,Jake Gyllenhaal,Sci-Fi
4,Avatar,7.8,213,Zoe Saldana,Adventure
5,Pinochhio,5.5,124,Disney,Fantasy
6,Megan,6.4,102,Jenna Davis,Thriller
7,Everything everywhere all at once,7.9,139,Michelle Yeoh,Sci-Fi
8,Jumanji 2,7.4,123,Dwayne Johnson,Adventure
9,The Whale,7.8,117,Darren Aronofsky,Drama
10,Harry Potter,7.6,152,Daniel Radcliffe,Fantasy
11,Captain America,7.8,147,Chris Evans,Adventure
12,The Avengers,8.0,143,Chris Evans,Adventure
13,Under the Skin,6.3,108,Scarlett Johansson,Drama
14,Sing 2,7.4,110,Scarlett Johansson,Children
15,The Matrix,8.7,136,Keanu Reeves,Action

## 4. Filtrar valores menores que um valor X 

- enviar nome da coluna numérica que será realizada a filtragem;
- enviar valor X;

In [12]:
filter_1 = {
    "column": "Duration",
    "value" : 100
}

filter_2 = {
    "column": "Rating",
    "value" : 7.0
}

In [44]:
url = "http://127.0.0.1:5000/filter_data"
payload = {"file_name": "data1.csv", "filter": filter_1}
post_response = requests.post(url=url, json=payload)
filter_result = post_response.json()
filter_columns = filter_result["columns"]
filter_data = filter_result["data"]
filter_df = pd.DataFrame(filter_data, columns=filter_columns)
filter_df

          Name  Rating  Duration            Actor   Genre
0  Source Code     7.5        93  Jake Gyllenhaal  Sci-Fi

In [45]:
url = "http://127.0.0.1:5000/filter_data"
payload = {"file_name": "data1.csv", "filter": filter_2}
post_response = requests.post(url=url, json=payload)
filter_result = post_response.json()
filter_columns = filter_result["columns"]
filter_data = filter_result["data"]
filter_df = pd.DataFrame(filter_data, columns=filter_columns)
filter_df

             Name  Rating  Duration               Actor     Genre
0         In time     6.7       109   Justin Timberlake    Sci-Fi
1       Pinochhio     5.5       124              Disney   Fantasy
2           Megan     6.4       102         Jenna Davis  Thriller
3  Under the Skin     6.3       108  Scarlett Johansson     Drama